body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Màu nền của trang */
}

.left-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: -1; /* Đặt ảnh bên trái ở phía sau */
}

.right-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    z-index: -1; /* Đặt ảnh bên phải ở phía sau */
}

#register-form {
    width: 300px;
    margin: 100px auto; /* Canh giữa trang */
    padding: 20px;
    background-color: #fff; /* Màu nền của phần đăng ký */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}

#register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

#register-form label {
    display: block;
    margin-bottom: 10px;
}

#register-form input[type="text"],
#register-form input[type="email"],
#register-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#register-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f20b13; /* Màu nền của nút Đăng ký */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#register-form button[type="submit"]:hover {
    background-color: #0056b3; /* Màu nền khi rê chuột vào nút Đăng ký */
}